.section {
    /* position: relative; */
    box-sizing: border-box;
    /* z-index: 15; */
    width: 100%;
    /* background: rgb(36, 56, 4); */
    padding: 0px 204px 120px 204px;
    text-align: center;
  }
  .title {
    font-family: "Right Grotesk", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 160px;
    line-height: 160px;  
    margin-bottom: 80px;
  }
  /* .apeArreyWrapper {
    display: flex;
    flex-direction: column;
   
  } */