.section {
  box-sizing: border-box;
  width: 100%;
  background: grey;
  padding: 54px 16px 0 16px;
  color: #1e1e1e;
  
  @media only screen and (min-width: 768px) {
    padding: 34px 16px 40px 16px;
    /* max-width: 768px */
  }

  @media only screen and (min-width: 1280px) {
    padding: 16px 16px 0 16px;
    position: relative;
    z-index: 20;
  }
}
.wrapper {
  background: #dc3b5a;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 36px 64px 20px 64px;

  @media only screen and (min-width: 768px) {
    padding: 0 72px 0 72px;
    height: 421px;
  }

  @media only screen and (min-width: 1280px) {
    padding: 197px 188px 110px 188px;
  }
}

.context {
  @media only screen and (min-width: 768px) {
    position: relative;
    margin: auto 0 35px 0;
  }
}
.title {
  font-family: "Right Grotesk", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 44px;
  line-height: 44px;

  display: flex;
  justify-content: space-between;
  width: 209px;

  @media only screen and (min-width: 768px) {
    font-size: 92px;
    line-height: 92px;
    width: 591px;
  }

  @media only screen and (min-width: 1280px) {
    font-weight: 900;
    width: 1019px;
    font-size: 164px;
    line-height: 164px;
  }
}

.textDecorated {
  font-family: "Biro Script Plus";
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 27px;
  text-transform: none;

  @media only screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 33px;
  }

  @media only screen and (min-width: 1280px) {
    font-size: 24px;
    line-height: 40px;
  }
}
.textInfo {
  font-size: 12px;
  line-height: 14px;

  @media only screen and (min-width: 768px) {
    height: 56px;
    text-align: justify;
    text-indent: 48px;
    font-size: 12px;
    line-height: 14px;
  }

  @media only screen and (min-width: 1280px) {
    height: 57px;
    text-align: justify;
    text-indent: 50px;
    font-size: 16px;
    line-height: 19px;
  }
}
.textBox {
  @media only screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin: 16px 0 0 0;
  }

  @media only screen and (min-width: 1280px) {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-top: 36px;
    margin-left: 176px;
  }
}
.infoBox {
  position: relative;
  width: 216px;
  box-sizing: border-box;
  padding-top: 49px;

  @media only screen and (min-width: 768px) {
    width: 190px;
    box-sizing: border-box;
    padding-top: 8px;
  }

  @media only screen and (min-width: 1280px) {
    width: 337px;
    box-sizing: border-box;
    padding-top: 8px;
  }
}
.heroBtn {
  position: absolute;
  z-index: 100;
  top: -4px;
  box-sizing: border-box;

  width: 216px;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  border: none;
  border-radius: 8px;
  background: rgba(30, 30, 30, 0.1);

  font-family: "Right Grotesk", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;

  @media only screen and (min-width: 768px) {
    position: static;
    box-sizing: border-box;
    margin-top: 16px;
    width: 190px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    border: none;
    border-radius: 12px;
    background: rgba(30, 30, 30, 0.1);
    font-weight: 900;
  }

  @media only screen and (min-width: 1280px) {
    position: static;
    box-sizing: border-box;
    margin-top: 28px;
    width: 337px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    border: none;
    border-radius: 24px;
    background: rgba(30, 30, 30, 0.1);

    font-family: "Right Grotesk", sans-serif;
    font-weight: bold;
    font-style: normal;
  }
}
.heroBtn:hover {
  color: white;
}
.boxImg {
  width: 216px;
  height: 284px;

  @media only screen and (min-width: 768px) {
    position: absolute;
    z-index: 20;
    width: 283px;
    height: 386px;
    bottom: -35px;
    left: 134px;
  }

  @media only screen and (min-width: 1280px) {
    position: absolute;
    z-index: 20;
    width: 463px;
    height: 612px;
    bottom: 0;
    left: 437px;
  }
}
.heroImg {
  width: 100%;
  min-height: 386px;
}
