.faqItemWrapper {
    position: relative;
    display: flex;
    border-radius: 12px;
    justify-content: space-between;
    min-height: 40px;
    max-width: 216px;
    /* min-width: 216px; */
    margin: 8px auto 0 auto;
    padding: 8px;
   
    /*  */
@media only screen and (min-width: 768px) {
    position: relative;
    display: flex;
    border-radius: 24px;
    justify-content: space-between;
    min-height: 128px;
    margin-bottom: 24px;
}

@media only screen and (min-width: 1280px) {
    position: relative;
    display: flex;
    border-radius: 24px;
    justify-content: space-between;
    min-height: 128px;
    margin-bottom: 24px;
}
}
.faqItemWrapperOpen {
    position: relative;
    display: flex;
    background: #1e1e1e;
    border-radius: 12px;
    justify-content: space-between;
    max-width: 216px;
    /* min-width: 216px; */
    min-height: 40px;
    padding: 8px;
    margin: 8px auto 0 auto;

    /* height: 158px; */
    /*  */
@media only screen and (min-width: 768px) {
    position: relative;
    display: flex;
    background: #1e1e1e;
    border-radius: 24px;
    justify-content: space-between;
    min-height: 128px;
    margin-bottom: 24px;
    height: 250px;
}

@media only screen and (min-width: 1280px) {
    position: relative;
    display: flex;
    
    border-radius: 24px;
    justify-content: space-between;
    min-height: 128px;
    margin-bottom: 24px;
    height: 250px;
}
}
.faqImgBox {
    display: none;
    /*  */
@media only screen and (min-width: 768px) {
    display: block !important; 
    position: absolute;
    left: 16px;
    top: -15px;
    width: 248px;
    height: 282px;
    overflow: hidden;
    transform: rotate(-8deg);
    border-radius: 24px;
    background: transparent;
}

@media only screen and (min-width: 1280px) {
    display: block !important; 
    position: absolute;
    left: 16px;
    top: -15px;
    width: 248px;
    height: 282px;
    overflow: hidden;
    transform: rotate(-8deg);
    border-radius: 24px;
    background: transparent;
}
}
.faqImg {
    display: none;
    /*  */
@media only screen and (min-width: 768px) {
    display: block !important; 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (min-width: 1280px) {
    display: block !important; 
    width: 100%;
    height: 100%;
    object-fit: cover;
}
}

.questionBox {
    max-width: 169px;
   text-align: left;
  min-width: 169px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   /*  */
@media only screen and (min-width: 768px) {
    max-width: 635px;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (min-width: 1280px) {
    max-width: 635px;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
}
.numberOpen {
    min-width: 23px;
    margin-top: 4px;
    margin-bottom: auto;
    font-family: 'Biro Script Plus';    
    font-weight: 400;
    font-style: normal;
  font-size: 12px;
  line-height: 20px;
  text-transform: none;
  /*  */
@media only screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: 51px;
    margin-top: 36px;
    margin-bottom: auto;
    font-family: 'Biro Script Plus';    
    font-weight: bold;
    font-style: normal;
  font-size: 24px;
  line-height: 40px;
  text-transform: none;
}

@media only screen and (min-width: 1280px) {
    margin-left: auto;
    margin-right: 51px;
    margin-top: 36px;
    margin-bottom: auto;
    font-family: 'Biro Script Plus';    
    font-weight: bold;
    font-style: normal;
  font-size: 24px;
  line-height: 40px;
  text-transform: none;
}
}
.number {    
    color: #DC3B5A;
    min-width: 23px;
    margin-top: 4px;
    margin-bottom: auto;
    font-family: 'Biro Script Plus';    
    font-weight: 400;
    font-style: normal;
  font-size: 12px;
  line-height: 20px;
  text-transform: none;
  @media only screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: 51px;
    margin-top: 24px;
    margin-bottom: auto;
    font-family: 'Biro Script Plus';    
    font-weight: bold;
    font-style: normal;
  font-size: 24px;
  line-height: 40px;
  text-transform: none;
}

@media only screen and (min-width: 1280px) {
    margin-left: auto;
    margin-right: 51px;
    margin-top: 36px;
    margin-bottom: auto;
    font-family: 'Biro Script Plus';    
    font-weight: bold;
    font-style: normal;
  font-size: 24px;
  line-height: 40px;
  text-transform: none;
}

}
.question {
    /* margin-bottom: 36px; */
    font-family: "Right Grotesk", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    /*  */
@media only screen and (min-width: 768px) {
    font-family: "Right Grotesk", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 64px;
    line-height: 64px;
}

@media only screen and (min-width: 1280px) {
    font-family: "Right Grotesk", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 64px;
    line-height: 64px;
}
}
.questionOpen {
    font-family: "Right Grotesk", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    color: #DC3B5A;
    margin-bottom: 10px;
    /*  */
@media only screen and (min-width: 768px) {
    font-family: "Right Grotesk", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 64px;
    line-height: 64px;
}

@media only screen and (min-width: 1280px) {
    font-family: "Right Grotesk", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 64px;
    line-height: 64px;
}
}

.answer {
    font-size: 12px;
/* max-height: 70px; */
white-space: normal;
    @media only screen and (min-width: 768px) {

    }
    
    @media only screen and (min-width: 1280px) {
    
    }
}