.section {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  color: #1e1e1e;
}
  @media only screen and (min-width: 768px) {
    .section {
    padding: 0px 32px 0 32px;
    position: fixed;

    top: 72px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 300;
  }
  }
  @media only screen and (min-width: 1280px) {
    padding: 0px 112px 0 112px;
    .section {
    top: 76px;
    max-width: 1440px;
  }
}
.wrapper {
  display: flex;
  box-sizing: border-box;
}
@media only screen and (max-width: 767px) {
  .wrapper {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .wrapper {
    justify-content: space-between;
  }
}
.burgerMenuBox {
  position: relative;
}
.burgerMenu {
  margin-left: auto;
}

.logoIconHeder {
  margin-bottom: auto;
  padding-top: 8px;
  width: 48px;
  height: 32px;
}
@media only screen and (min-width: 1280px) {
  .logoIconHeder {
    padding-top: 15px;
    width: 72px;
    height: 50px;
  }
}
.logoHeder path {
  fill: #1e1e1e;
}
.logoHeder:hover path {
  fill: white !important;
}

.logoHeder.isTopPage path {
  display: none;
}

.logoHeder.isTopPage:hover path {
  fill: #dc3b5a !important;
}

/* MOBILE MENU MODAL */

.mobileWrapper {
  position: fixed;

  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 300;
  width: 100vw;
  min-height: 100vh;

  background: #181818;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .mobileWrapper {
    display: none;
  }
}

.mobileBox {
  pointer-events: none;

  box-sizing: border-box;
  padding: 70px 16px 0px 16px;
  margin: 0 auto;
}
.topPart {
  position: absolute;
  display: flex;
  justify-content: space-between;
  min-width: 328px;
  height: 28px;
}

.footer {
  margin: 77px auto 24px auto;
  width: 216px;
}
.linkWrapper {
  /* background: white; */
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;
  max-width: 121px;
  height: 264px;
  margin-bottom: 0;
  padding-top: 62px;
  height: 264px;
  background: transparent;
}

.mainPart {
  max-height: 493px;
  width: 100%;
  align-items: center;
  margin-bottom: 0;
  min-height: 100vh;
  text-align: center;
}

.logoIcon {
  margin-top: 8px;
  pointer-events: auto;
}

.logoIcon.isTopPage:hover path {
  fill: #dc3b5a;
}

.navBtn {
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  color: white;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.1);
  border-width: 0;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: color 0.3s, text-decoration 0.3s; 

  font-family: Messina Sans Mono, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
}

.navBtn:hover {
  color: white;
  text-decoration: underline;
}
