.wrapper {
    display: flex;
}
.linkList {
  display: flex;
}
.navBtn {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 48px;
  height: 48px;
  color: #1E1E1E;
  text-transform: uppercase;
  background: rgba(30, 30, 30, 0.1);
  border: none;
  transition: color 0.3s, text-decoration 0.3s; /* Плавний перехід стилів */

  font-family: Messina Sans Mono, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
}

@media only screen and (min-width: 1280px) {
  .navBtn {
    width: 80px;
    height: 80px;
    font-size: 16px;
  line-height: 19px;
  }
}

.navBtn:hover {
  color: white;
  text-decoration: underline;
}

.isTopPage {
  color: white;
  background: rgba(255, 255, 255, 0.1);
}

.isTopPage.isTopPage:hover  {
  color: #dc3b5a !important;  
}
