
.section {
    box-sizing: border-box;
    /* z-index: 15; */
    width: 100%;
    padding: 24px 72px;
    text-align: center;

   
 

  @media only screen and (min-width: 768px) {
    box-sizing: border-box;
    /* z-index: 15; */
    width: 100%;
    /* background: rgb(129, 186, 37); */
    padding: 40px 0px;
    text-align: center;

   
  font-size: 16px;
  line-height: 19px;
  }
  
  
  @media only screen and (min-width: 1280px) {
    box-sizing: border-box;
    /* z-index: 15; */
    width: 100%;
    /* background: rgb(129, 186, 37); */
    padding: 40px 0px;
    text-align: center;

   
  font-size: 16px;
  line-height: 19px;
  }
  }

  .text {
    font-size: 12px;
  line-height: 14px;
  }
  @media only screen and (min-width: 1280px) {
    .text {
   
  font-size: 16px;
  line-height: 19px;
  }
  }
