@import url('./assets/fonts/BiroScript/stylesheet.css');
@import url('./assets/fonts/MessinaSans/stylesheet.css');
@import url('./assets/fonts/RightGrotesk/stylesheet.css');


:root {
  font-family: Messina Sans Mono, sans-serif;
  color: white;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  @media only screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 29px;
  }
  
  @media only screen and (min-width: 1280px) {
    font-size: 24px;
    line-height: 29px;
  }

  


  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; */ 
  /* -moz-osx-font-smoothing: grayscale;  */
}



/*  */

body {
  /* max-width: 1440px; */
  margin: 0 auto; 
  background: #181818;
  text-transform: uppercase;

  @media only screen and (min-width: 360px) and (max-width: 480px) {
    body {
      width: 100%; /* Повна ширина */
      /* Додаткові стилі для мобільних пристроїв */
    }
  }
  
  /* Для планшетів */
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    body {
      width: 100%; /* Повна ширина */
      /* Додаткові стилі для планшетів */
    }
  }
  
  /* Для маленьких десктопів */
  @media only screen and (min-width: 769px) and (max-width: 1280px) {
    body {
      width: 100%; /* Повна ширина */
      /* Додаткові стилі для маленьких десктопів */
    }
  }
  
  /* Для великих десктопів */
  @media only screen and (min-width: 1281px) and (max-width: 1440px) {
    body {
      width: 1280px; /* Ширина макету для великих десктопів */
      /* Додаткові стилі для великих десктопів */
    }
  }
}

h1,
p {
  font-size: initial;
  margin-block-start: initial;
  margin-block-end: initial;
}

button {
  padding-block: initial;
  padding-inline: initial;
}


/*  */

